.resizeHandle {
    position: relative;
    display: flex;
    width: 1px;
    align-items: center;
    justify-content: center;
    background-color: var(--border);
    &::after {
        position: absolute;
        left: 50%;
        width: 1px;
        transform: translateX(-50%);
        height: 1px;
    }
    &:focus {
        outline: 1px solid var(--ring);
    }
    &[data-panel-group-direction=vertical] {
        height: 1px;
        width: 100%;
        &::after {
            left: 0;
            height: 1px;
            width: 100%;
            transform: translateY(-50%);
        }
        & > div {
            transform: rotate(90deg);
        }
    }
}